 .nutritionLabel {
     width: 262px;
     font-size: 13px;
 }
 .nutritionLabel .title {
     line-height: 28px;
     font-size: 34px;
 }
 .nutritionLabel .m {
     font-size: 11px;
 }
 .nutritionLabel .serving {
     font-size: 14px;
     line-height: 18px;
 }
 .nutritionLabel .dvCalorieDiet {
     font-size: 11px;
 }
 @media(max-width: 767px) {
     .nutritionLabel {
         font-size: 16px;
     }
     .nutritionLabel .title {
         line-height: 32px;
         font-size: 39px;
     }
     .nutritionLabel .m {
         font-size: 13px;
     }
     .nutritionLabel .serving {
         font-size: 18px;
         line-height: 22px;
     }
     .nutritionLabel .dvCalorieDiet, .nutritionLabel .tblCalorieDiet td {
         font-size: 12px;
     }
 }
 .nutritionLabel .title {
     font-family:'Archivo Black', sans-serif;
     white-space: nowrap;
     letter-spacing: -2px;
 }
 .nutritionLabel {
     padding: 8px;
     color: #333;
     /*font-family: 'Varela', sans-serif;*/
     font-family: Arial, Helvetica, sans-serif;
     border: 2px solid #000;
 }
 .nutritionLabel .line {
     border-top: 1px solid #333;
     padding: 1px 0
 }
 .nutritionLabel .line.last {
     border-bottom: 1px solid #333;
 }
 .nutritionLabel .serving {
     padding: 2px 0;
 }
 .nutritionLabel .line.indent {
     margin-left: 15px;
 }
 .nutritionLabel .dv {
     float: right;
 }
 .ar {
     text-align: right;
 }
 .fr {
     float: right;
 }
 .nutritionLabel .bar1 {
     height: 10px;
     line-height:0;
     font-size:1px;
     background: #333;
 }
 .nutritionLabel .bar2 {
     height: 5px;
     line-height:0;
     font-size:1px;
     background: #333;
 }
 .nutritionLabel .dvCalorieDiet {
     color: #777;
 }
 .nutritionLabel .calorieNote {
     padding: 6px 0 6px 8px;
 }
 .nutritionLabel .star {
     margin-left: -7px;
 }
 .nutritionLabel .tblCalorieDiet th {
     border-bottom: 1px solid #333;
 }
 .nutritionLabel .tblCalorieDiet {
     width: 100%;
 }
 .nutritionLabel .tblCalorieDiet td {
     padding: 0;
     line-height: normal;
 }